input[type="checkbox"] {
    width: 25px;
    height: 25px;
    accent-color: rgb(0, 191, 255);
    margin: 0 100% 0 0;
}

label {
    margin-top: 5px;
}

#tUs {
    margin: 16px 0 0 0;
}

#tmm {
    margin: 13px 10px 0 10px;
    width: 98%;
}